*{
    
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
}
body{
    background-image: linear-gradient(to right bottom, #F9CFF2, #EFE9e7);
    
}
.logo{
    position: absolute;
    background-color: white;
    width: 50px;
    height: 50px;
    background-image: url('imagens/RK-copia.png');
    border: 2px solid white;
}
.titulo{
    max-width: 668px;
    min-width: 200px;
    
    margin: auto;
    margin-top: 10px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    margin-bottom: 10px;
   position: relative;
}
.titulo h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486);
}
main{
    max-width: 400px;
    min-width: 200px;
   
    height: 350px;
    margin: auto;
    text-align: justify;
    border: 2px solid white;
    border-radius: 10px;
}
main h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486);
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin: 10px;
}
.formu input{
   padding-right: 40px;
}
main form{
    padding-left: 30px;
    margin: auto;
    
}
main label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486);
    color: white;
    border-bottom: 1px solid white;
}

.nome, .email, .senha {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.541);
}
.enviar, .limpar{
    border-radius: 5px;
    border: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.541);
    background-color: plum;
    color: white;
}
.enviar:hover, .limpar:hover{
    background-color: rgb(218, 108, 218);
    border: 1px solid gray;
}
label{
    font-weight: lighter;
}

